body {
  margin: 0;
  font-family: $font-family;
  font-size: $font-size;
  color: $color-text;
  background-color: $color-gray;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
}
