.btn {
  display: block;
  width: 150px;
  margin-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: $color-black;
  color: $color-white;
}
