.container {
  @include section;
  //width: 800px;
  margin-top: 20px;
  //margin-left: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $color-white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  &--side {
    @media #{$mobile-width} {
      padding-top: 0;
      padding-bottom: 0;
      background-color: $color-gray;
      box-shadow: none;
    }
  }
}