.main-nav {
  @include nav;
  position: fixed;
  right: 2%;
  top: 0;
  z-index: 10;

  @media #{$tablet-width} {
    right: 0;
  }

  @media #{$mobile-width} {
    width: 50px;
    margin: 0 auto;
    right: 2%;
    top: 25px;

    &--closed .main-nav__list {
      display: none;
    }

    &--closed .main-nav__toggle {
      background-image: url("../img/icons/icon-menu-burger.svg");
    }

    &--opened {

    }

    &--opened .main-nav__toggle {
      position: absolute;
      top: 5px;
      background-color: $color-white;
      background-image: url("../img/icons/icon-menu-cross.svg");
    }
  }
}

.main-nav__list {
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
  list-style: none;

  @media #{$mobile-width} {
    position: fixed;
    right: 0;
    top: 20px;
    width: 100px;
    background-color: $color-white;
  }
}

.main-nav__item {
  &:last-child .main-nav__url {
    border-bottom: none;
  }
}

.main-nav__url {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: $font-family;
  font-size: $font-size;
  line-height: 1.5;
  color: $color-text;
  text-decoration: none;
  border-bottom: 2px solid $color-gray;
}

.main-nav__toggle {
  display: none;

  @media #{$mobile-width} {
    display: block;
    width: 50px;
    height: 24px;
    padding: 0;
    background-color: $color-gray;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 10;
  }
}
