.news__title {
  margin-left: 30px;
  margin-bottom: 10px;
  font-size: $font-size-h2;
  color: #292929;
}

.news--loading:after,
.news--failure:after {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;

  box-sizing: border-box;
  width: 200px;
  margin-left: -100px;
  padding: 20px;

  font-size: 30px;
  text-align: center;
  color: #ffffff;

  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.news--loading:after {
  content: "Загрузка...";
}

.news--failure:after {
  content: "Ошибка загрузки";
}
